# Variables de entorno
.env
.env.local
.env.*.local
env


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
env/
ENV/
.venv/
.ENV/

# Bases de datos
*.db
*.sqlite
*.sqlite3
ferrejunior.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp
.cache/

# Archivos de migración (opcional - descomenta si no quieres versionar migraciones)
# migrations/versions/*.py


